MODEL_ID =gemini-2.5-flash-lite-preview-06-17
BUDGET=0
REGION=us-central1
PROJECT_ID=<your-anthropic-project-id>
RSS_URL=https://www.science.org/action/showFeed?type=etoc&feed=rss&jc=science
WEBHOOK_URLS=<your-discord-webhook-url1>,<your-discord-webhook-url2>
HASH_FILE_PATH=./latest_entry_hash.txt
ENTREZ_EMAIL=<your-email-for-ncbi>
